@font-face {
  font-family: "MuseoSansCyrl-100";
  src: url("/fonts/MuseoSansCyrl-100.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "MuseoSansCyrl-100Italic";
  src: url("/fonts/MuseoSansCyrl-100Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "MuseoSansCyrl-300";
  src: url("/fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "MuseoSansCyrl-300Italic";
  src: url("/fonts/MuseoSansCyrl-300Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "MuseoSansCyrl-500";
  src: url("/fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MuseoSansCyrl-500Italic";
  src: url("/fonts/MuseoSansCyrl-500Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "MuseoSansCyrl-700";
  src: url("/fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MuseoSansCyrl-700Italic";
  src: url("/fonts/MuseoSansCyrl-700Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "MuseoSansCyrl-900";
  src: url("/fonts/MuseoSansCyrl-900.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "MuseoSansCyrl-900Italic";
  src: url("/fonts/MuseoSansCyrl-900Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

header {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  position: relative;
}

header::before {
  content: '';
  opacity: 0.15;
  border: 1px solid #000000;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.container {
  width: 1182px;
  margin: auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.logo__img {
  padding-top: 15px;
  padding-bottom: 15px;
}

.form {
  position: relative;
  margin-top: 25px;
}

.form i {
  position: absolute;
  right: 0;
}

.search_img {
  padding: 13px;
}

input[type="search"] {
  width: 557px;
  height: 50px;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 16px;
  background-color: #F3F3F3;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  font-family: 'Museo Sans Cyrl', 'sans-serif';
  font-weight: 400;
}

input[type="submit"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
}

button {
  height: 50px;
}

.tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 821px;
  margin: auto;
  text-align: center;
}

.tabs__content {
  background-color: #fff;
}

.tabs__item {
  display: none;
}

.tabs__item.active {
  display: block;
  background-color: #fff;
}

.tabs__nav-btn {
  border: none;
  background-color: #FFFFFF;
  padding: 0px 20px;
  font-size: 18px;
  font-family: 'Museo Sans Cyrl', 'sans-serif';
  font-weight: 400;
}

.tabs__nav-btn:hover {
  background-color: #f29700;
  color: #F3F3F3;
}

.tabs__nav-btn.active {
  background-color: #323232;
  color: #F3F3F3;
}

.banner {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 23px;
  background-image: url("/img/bg.jpg");
  background-position: center;
  background-size: cover;
}

.slider {
  width: 866px;
  margin: auto;
}

.item {
  margin-left: 40px;
  display: none;
}

.item__title {
  color: #fff;
  width: 650px;
}

.item__title-headerTwo {
  font-size: 13px;
  font-weight: 700;
  font-family: 'Museo Sans Cyrl', 'sans-serif';
  padding: 11px 20px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: #E69A37;
  display: inline-block;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.item__title h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 68px;
  font-family: 'Museo Sans Cyrl', 'sans-serif';
}

.item__title p {
  font-size: 22px;
  font-weight: normal;
  line-height: 28px;
  font-family: 'Museo Sans Cyrl', 'sans-serif';
}

.item.active {
  display: block;
}

.dots {
  width: 120px;
  display: block;
  margin: auto;
}

.slider__dots {
  text-align: center;
  padding-bottom: 30px;
}

.slider-dots_item {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  border: 1px solid #FFFFFF;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.slider-dots_item:hover {
  background-color: #FFFFFF;
}

.slider-dots_item.active {
  background-color: #f29700;
  border: 1px solid #f29700;
}

.services {
  width: 100%;
  margin: auto;
  position: relative;
}

.services::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: '';
  opacity: 0.15;
  border: 1px solid #000000;
  width: 100%;
  bottom: 0;
}

.serves {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.colum:hover {
  background-color: #F3F3F3;
}

.item_cl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
}

.item_cl img {
  margin-right: 12px;
}

.item_cl a {
  cursor: pointer;
  text-decoration: none;
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Museo Sans Cyrl', 'sans-serif';
}

.item_cl a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    width: 100%;
  }
  .container {
    width: 100%;
    margin: auto;
  }
  input[type="search"] {
    width: 200px;
  }
  .tabs__nav {
    width: 100%;
  }
  .slider {
    width: 100%;
  }
  .serves {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item_cl {
    width: 250px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header {
    width: 100%;
  }
  .container {
    width: 100%;
    margin: auto;
  }
  input[type="search"] {
    width: 200px;
  }
  .tabs__nav {
    width: 576px;
  }
  .tabs__nav-btn {
    padding: 0px 10px;
    font-size: 15px;
  }
  .slider {
    width: 100%;
  }
  .item__title {
    width: 400px;
  }
  .serves {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item_cl {
    width: 250px;
  }
}

@media (max-width: 576px) {
  header {
    width: 100%;
  }
  .container {
    width: 100%;
    margin: auto;
  }
  .logo {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .form {
    text-align: center;
    margin-bottom: 20px;
  }
  input[type="search"] {
    width: 200px;
  }
  .icon_search {
    position: absolute;
    left: 150px;
  }
  .tabs__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    width: 150px;
  }
  .tabs__nav-btn {
    padding: 0px 10px;
    font-size: 15px;
  }
  .slider {
    width: 100%;
  }
  .serves {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item_cl {
    width: 250px;
  }
}
/*# sourceMappingURL=style.css.map */